$black: #000;
$white: #fff;
$rating-0-text-color: #eee;
$rating-1-text-color: #fd8f8f;
$rating-2-text-color: #fd967d;
$rating-3-text-color: #ffb077;
$rating-4-text-color: #ffd38a;
$rating-5-text-color: #ffe1af;
$rating-6-text-color: #fcff7f;
$rating-7-text-color: #fcff69;
$rating-8-text-color: #deff3e;
$rating-9-text-color: #c3f35a;
$rating-10-text-color: #a3f531;
$rating-unrated-text-color: #7d7d7d;
$font-family-1: Arial, sans-serif;
$body-bg-color: #f8f9fa;
$nav-bg-color: #292b2c;
$app-title-bg-color: rgba(128, 202, 90, .83);
$rating-0-bg-color: #dadada;
$rating-1-bg-color: #cd374e;
$rating-2-bg-color: #f04646;
$rating-3-bg-color: #ff6a45;
$raging-4-bg-color: #ff964b;
$rating-5-bg-color: #ffb12e;
$rating-6-bg-color: #dee221;
$rating-7-bg-color: #c2e229;
$rating-8-bg-color: #a4d92f;
$rating-9-bg-color: #7cd500;
$rating-10-bg-color: #4eb50b;
$rating-unrated-bg-color: #e8e8e8;
$rating-btn-text-color: rgba(27, 30, 41, .81);
$rating-btn-bg-color: rgba(241, 241, 241, .78);
$rating-btn-bg-hover: #e1eaf3;
$rating-btn-border: #7b7b7b;
$location-input-underline: #464343;
$rating-count-underline: #2c2cb5;

html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: $body-bg-color;
  margin-bottom: 60px;
  padding-top: 4.5rem;
}

.top-nav {
  background-color: $nav-bg-color;
}

.app-title {
  background-color: $app-title-bg-color;
  border-radius: 4px;
  color: $black;
  cursor: default;
  padding: 0 4px;
  transition: .5s;

  &:hover {
    transform: rotate(3deg);
    transition: .5s;
  }
}

.location-search {
  background-color: $nav-bg-color;
  border: 1px solid transparent;
  border-bottom: 1px dotted $location-input-underline;
  color: $white;
}

.restaurant {
  position: relative;

  .image {
    background: transparent no-repeat center;
    background-size: cover;
    height: 100px;
    width: 120px;
  }

  .media-body {
    height: 110px;
  }

  .rate-link {
    position: absolute;
    right: 2px;
    top: 55px;
  }
}

.address-block {
  padding: 0;
}

.review-text {
  padding: 0;
}

.rating-0 {
  background-color: $rating-0-bg-color;
  color: $rating-0-text-color;
}

.rating-1 {
  background-color: $rating-1-bg-color;
  color: $rating-1-text-color;
}

.rating-2 {
  background-color: $rating-2-bg-color;
  color: $rating-2-text-color;
}

.rating-3 {
  background-color: $rating-3-bg-color;
  color: $rating-3-text-color;
}

.rating-4 {
  background-color: $raging-4-bg-color;
  color: $rating-4-text-color;
}

.rating-5 {
  background-color: $rating-5-bg-color;
  color: $rating-5-text-color;
}

.rating-6 {
  background-color: $rating-6-bg-color;
  color: $rating-6-text-color;
}

.rating-7 {
  background-color: $rating-7-bg-color;
  color: $rating-7-text-color;
}

.rating-8 {
  background-color: $rating-8-bg-color;
  color: $rating-8-text-color;
}

.rating-9 {
  background-color: $rating-9-bg-color;
  color: $rating-9-text-color;
}

.rating-10 {
  background-color: $rating-10-bg-color;
  color: $rating-10-text-color;
}

.rating-unrated {
  background-color: $rating-unrated-bg-color;
  color: $rating-unrated-text-color;
}

.rating-btn {
  padding: 5px 0;
  width: 40px;
}

.rating-display-outer {
  position: absolute;
  right: 0;
}

.user-review {
  position: relative;

  .rating-display-outer {
    position: absolute;
  }
}

.reviews-container {
  max-height: 400px;
  overflow: auto;
}

.rating-display {
  border-radius: 3px;
  color: $white;
  cursor: default;
  display: inline-block;
  font-weight: bold;
  padding: 5px 0;
  text-align: center;
  width: 40px;
}

.rating-trigger-btn {
  background-color: $rating-btn-bg-color;
  border: 1px solid $rating-btn-border;
  border-radius: 3px;
  color: $rating-btn-text-color;
  cursor: pointer;
  display: inline-block;
  padding: 4px 0;
  text-align: center;
  width: 40px;

  &:hover {
    background-color: $rating-btn-bg-hover;
  }
}

.rating-count {
  position: absolute;
  right: 0;
  top: 45px;

  &.rated {
    border-bottom: 1px dotted $rating-count-underline;
    cursor: pointer;
  }
}

.btn {
  &:focus {
    outline: none;
  }
}

.product-title-text {
  color: $white;
  font-family: $font-family-1;
  font-size: 1.25em;
  margin-top: 4px;

  .subtext {
    font-size: 14px;
    margin-top: -8px;
    text-transform: uppercase;
  }
}

.location-info {
  float: right;
  text-align: right;

  .location-title {
    font-size: 1.5em;
    margin-top: 10px;

    .location-icon {
      font-size: .9em;
      margin-right: 3px;
    }

    .location-title-text {
      float: right;
    }
  }

  .location-change-btn {
    font-size: .8em;
  }
}

.hide {
  display: none;
}

.footer {
  background-color: $body-bg-color;
  bottom: 0;
  height: 60px;
  line-height: 60px;
  position: fixed;
  width: 100%;
}
