body {
  min-height: 75rem;
  padding-top: 4.5rem;
  background-color: #f8f9fa;
}

.top-nav {
  background-color: #292b2c;
}

.app-title {
  background-color: rgba(128, 202, 90, 0.83);
  padding: 0px 4px;
  border-radius: 4px;
  color: #000000;
  cursor: default;
  transition: 0.50s;
}

.app-title:hover {
  transition: 0.50s;
  transform: rotate(3deg);
}

.location-search {
  background-color: #292b2c;
  border: 1px solid transparent;
  border-bottom: 1px dotted #464343;
  color: #fff;
}

.restaurant {
  position: relative;
}

.restaurant .image {
  width: 120px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: cover;
}

.restaurant .media-body {
  height: 110px;
}

.restaurant .rate-link {
  position: absolute;
  right: 2px;
  top: 55px;
}

.rating-0 {
  background-color: #dadada;
  color: #eeeeee;
}

.rating-1 {
  background-color: #cd374e;
  color: #fd8f8f;
}

.rating-2 {
  background-color: #f04646;
  color: #fd967d;
}

.rating-3 {
  background-color: #ff6a45;
  color: #ffb077;
}

.rating-4 {
  background-color: #ff964b;
  color: #ffd38a;
}

.rating-5 {
  background-color: #ffb12e;
  color: #ffe1af;
}

.rating-6 {
  background-color: #dee221;
  color: #fcff7f;
}

.rating-7 {
  background-color: #c2e229;
  color: #fcff69;
}

.rating-8 {
  background-color: #a4d92f;
  color: #deff3e;
}

.rating-9 {
  background-color: #7cd500;
  color: #c3f35a;
}

.rating-10 {
  background-color: #4eb50b;
  color: #a3f531;
}

.rating-unrated {
  background-color: #e8e8e8;
  color: #7d7d7d;
}


.rating-btn {
  width: 40px;
  padding: 5px 0;
}

.rating-display-outer {
  position: absolute;
  right: 0;
}

.rating-display {
  width: 40px;
  padding: 5px 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
  cursor: default;
  display: inline-block;
}

.rating-trigger-btn {
  width: 40px;
  padding: 4px 0;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #7b7b7b;
  display: inline-block;
  color: rgba(27, 30, 41, 0.81);
  background-color: rgba(241, 241, 241, 0.78);
}

.rating-trigger-btn:hover {
  background-color: #e1eaf3;
}

.rating-count {
  position: absolute;
  right: 0;
  top: 45px;
}
/* .rating-btn {
  background-color: transparent;
  background-repeat: no-repeat;
  width: 50px;
  border: none;
  height: 50px;
  background-size: contain;
  margin-right: 4px;
  cursor: pointer;
  opacity: 0.5;
}

.rating-btn:hover {
  opacity: 1;
} */

.rating-loved {
  background-image: url(../images/rating-loved.png);
}

.rating-meh {
  background-image: url(../images/rating-meh.png);
}

.rating-hated {
  background-image: url(../images/rating-hated.png);
}

.btn:focus{
  outline: none;
}

.product-title-text {
  font-family: Arial, sans-serif;
  color: #fff;
  font-size: 1.25em;
  margin-top: 4px;
}

.product-title-text .subtext {
  font-size: 14px;
  margin-top: -8px;
  text-transform: uppercase;
}

.location-info {
  float: right;
  text-align: right;
}

.location-info .location-title {
  margin-top: 10px;
  font-size: 1.5em;
}

.location-info .location-title .location-icon {
  font-size: 0.9em;
  margin-right: 3px;
}

.location-info .location-title .location-title-text {
  float: right;
}

.location-info .location-change-btn {
  font-size: 0.8em;
}

.hide {
  display: none;
}