$black: #000000;
$white: #fff;
$rating_0_text_color: #eeeeee;
$rating_1_text_color: #fd8f8f;
$rating_2_text_color: #fd967d;
$rating_3_text_color: #ffb077;
$rating_4_text_color: #ffd38a;
$rating_5_text_color: #ffe1af;
$rating_6_text_color: #fcff7f;
$rating_7_text_color: #fcff69;
$rating_8_text_color: #deff3e;
$rating_9_text_color: #c3f35a;
$rating_10_text_color: #a3f531;
$rating_unrated_text_color: #7d7d7d;
$font_family_1: Arial, sans-serif;
$body_bg_color: #f8f9fa;
$nav_bg_color: #292b2c;
$app_title_bg_color: rgba(128, 202, 90, 0.83);
$rating_0_bg_color: #dadada;
$rating_1_bg_color: #cd374e;
$rating_2_bg_color: #f04646;
$rating_3_bg_color: #ff6a45;
$raging_4_bg_color: #ff964b;
$rating_5_bg_color: #ffb12e;
$rating_6_bg_color: #dee221;
$rating_7_bg_color: #c2e229;
$rating_8_bg_color: #a4d92f;
$rating_9_bg_color: #7cd500;
$rating_10_bg_color: #4eb50b;
$rating_unrated_bg_color: #e8e8e8;
$rating_btn_text_color: rgba(27, 30, 41, 0.81);
$rating_btn_bg_color: rgba(241, 241, 241, 0.78);
$rating_btn_bg_hover: #e1eaf3;
$rating_btn_border: #7b7b7b;
$location_input_underline: #464343;
$rating_count_underline: #2c2cb5;

body {
	min-height: 75rem;
	padding-top: 4.5rem;
	background-color: $body_bg_color;
}
.top-nav {
	background-color: $nav_bg_color;
}
.app-title {
	background-color: $app_title_bg_color;
	padding: 0px 4px;
	border-radius: 4px;
	color: $black;
	cursor: default;
	transition: 0.50s;
	&:hover {
		transition: 0.50s;
		transform: rotate(3deg);
	}
}
.location-search {
	background-color: $nav_bg_color;
	border: 1px solid transparent;
	border-bottom: 1px dotted $location_input_underline;
	color: $white;
}
.restaurant {
	position: relative;
	.image {
		width: 120px;
		height: 100px;
		background: transparent no-repeat center;
		background-size: cover;
	}
	.media-body {
		height: 110px;
	}
	.rate-link {
		position: absolute;
		right: 2px;
		top: 55px;
	}
}
.address-block {
	padding: 0;
}
.review-text {
	padding: 0;
}
.rating-0 {
	background-color: $rating_0_bg_color;
	color: $rating_0_text_color;
}
.rating-1 {
	background-color: $rating_1_bg_color;
	color: $rating_1_text_color;
}
.rating-2 {
	background-color: $rating_2_bg_color;
	color: $rating_2_text_color;
}
.rating-3 {
	background-color: $rating_3_bg_color;
	color: $rating_3_text_color;
}
.rating-4 {
	background-color: $raging_4_bg_color;
	color: $rating_4_text_color;
}
.rating-5 {
	background-color: $rating_5_bg_color;
	color: $rating_5_text_color;
}
.rating-6 {
	background-color: $rating_6_bg_color;
	color: $rating_6_text_color;
}
.rating-7 {
	background-color: $rating_7_bg_color;
	color: $rating_7_text_color;
}
.rating-8 {
	background-color: $rating_8_bg_color;
	color: $rating_8_text_color;
}
.rating-9 {
	background-color: $rating_9_bg_color;
	color: $rating_9_text_color;
}
.rating-10 {
	background-color: $rating_10_bg_color;
	color: $rating_10_text_color;
}
.rating-unrated {
	background-color: $rating_unrated_bg_color;
	color: $rating_unrated_text_color;
}
.rating-btn {
	width: 40px;
	padding: 5px 0;
}
.rating-display-outer {
	position: absolute;
	right: 0;
}
.user-review {
	position: relative;
	.rating-display-outer {
		position: absolute;
	}
}
.reviews-container {
	max-height: 400px;
	overflow: auto;
}
.rating-display {
	width: 40px;
	padding: 5px 0;
	text-align: center;
	color: $white;
	font-weight: bold;
	border-radius: 3px;
	cursor: default;
	display: inline-block;
}
.rating-trigger-btn {
	width: 40px;
	padding: 4px 0;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
	border: 1px solid $rating_btn_border;
	display: inline-block;
	color: $rating_btn_text_color;
	background-color: $rating_btn_bg_color;
	&:hover {
		background-color: $rating_btn_bg_hover;
	}
}
.rating-count {
	position: absolute;
	right: 0;
	top: 45px;
}
.rating-count.rated {
	border-bottom: 1px dotted $rating_count_underline;
	cursor: pointer;
}
.btn {
	&:focus {
		outline: none;
	}
}
.product-title-text {
	font-family: $font_family_1;
	color: $white;
	font-size: 1.25em;
	margin-top: 4px;
	.subtext {
		font-size: 14px;
		margin-top: -8px;
		text-transform: uppercase;
	}
}
.location-info {
	float: right;
	text-align: right;
	.location-title {
		margin-top: 10px;
		font-size: 1.5em;
		.location-icon {
			font-size: 0.9em;
			margin-right: 3px;
		}
		.location-title-text {
			float: right;
		}
	}
	.location-change-btn {
		font-size: 0.8em;
	}
}
.hide {
	display: none;
}

